<h2>Añadir comentario:</h2> <p>

<form method="post" action="/quizes/<%=quizid%>/comments/" >
  <textarea rows="4" cols="50" id="comment" name="comment[texto]" value=""/></textarea> <p>
  <button type="submit">Enviar</button>
</form>
