<h2>Instrucciones del juego.</h2>

<h4>Apartados de la web:</h4>

- <strong>Registrarse:</strong> Aquí podrá crearse una cuenta de usuario en la plataforma.
<br><br>
- <strong>Iniciar/Cerrar sesión:</strong> En este apartado, podrá iniciar sesión para añadir, modificar y eliminar sus preguntas.
<br><br>
- <strong>Inicio:</strong> Acceso directo a la página principal del juego. Aquí encontrará una breve descripción de en qué consiste la página.
<br><br>
- <strong>Jugar:</strong> Preguntas aleatorias que se encuentran en la base de datos. Podrá contestar tantas como quiera.
<br><br>
- <strong>Preguntas:</strong> Listado de preguntas que se encuentran en la base de datos del sistema.

<h4>¿Cómo jugar?</h4>

Para jugar, simplemente deberá acceder al apartado "Jugar", pudiendo responder tantas
preguntas aleatorias como desee, o yendo al apartado "Preguntas" y seleccionando la que quiera.
También puede incluir comentarios en las preguntas, que tras previa revisión por
parte del administrador del juego, serán publicados.
