<h2>Instrucciones del juego.</h2>

<h4>Apartados de la web:</h4>

- <strong>Iniciar/Cerrar sesión:</strong> En este apartado, el administrador del juego podrá iniciar sesión para añadir, modificar y eliminar preguntas así como moderar los comentarios de las mismas para su posterior publicación.
<br><br>
- <strong>Inicio:</strong> Acceso directo a la página principal del juego. Aquí encontrará una breve descripción de en qué consiste la página.
<br><br>
- <strong>Preguntas:</strong> Listado de preguntas que se encuentran en la base de datos del sistema y a las cuales podrá acceder para probar sus conocimientos y ver si sabe la respuesta.
<br><br>
- <strong>Ayuda:</strong> Página en la que se está ahora. Encontrará toda la información relacionada con el Quiz.

<h4>¿Cómo jugar?</h4>

Para jugar, simplemente deberá acceder al apartado "Preguntas" y seleccionar las preguntas que desea responder, colocando la respuesta con la primera letra en mayúscula seguida del resto en minúscula. También puede incluir comentarios en las preguntas, que tras previa revisión por parte del administrador del juego, serán publicados.
