#n1 {
  float: left;
  width: 20%;
  height: 400px;
  text-align: left;
}

nav span {
  margin: 0px 100px 0px 0px;
}

section {
  float: right:
  width: 80%;
  height: 200px;
}

#s1 {
  text-align: left;
}
