<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="Pregunta..." /> <p>

<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Respuesta..." /> <p>

<input type="submit" value="Guardar">
<a href="/quizes"><button type="button">Cancelar</button></a>
