<form method="get" action="/game/<%= index %>/answer">
  <h3 style="display:inline;">Pregunta:</h3> <%= quiz.pregunta %> <p>
  <input type="text" name="respuesta" placeholder="Responda aquí..." />
  <input type="submit" value="Enviar" />
</form>
